# Intro
This is a covid-19 tutorial notebook. I will be performing some exploratory Data Analysis oon realtime data on COVID-19 from John Hopkins University. By doing that, I will expand the base of my understanding on some of Python's analytics tools while teaching people who are interested in learining those same tools.

This is a beginner friendly project that will cover data analysis with pandas and data visualization with matplotlib and maybe seaborn. 

Let's go!

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import matplotlib.dates as mdates
plt.style.use('fivethirtyeight')
%matplotlib inline

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/datasets/covid-19/main/data/countries-aggregated.csv", parse_dates=['Date'])
df.tail()

            Date   Country  Confirmed  Recovered  Deaths
98811 2021-06-12  Zimbabwe      39852      36992    1632
98812 2021-06-13  Zimbabwe      39959      37004    1632
98813 2021-06-14  Zimbabwe      40077      37027    1635
98814 2021-06-15  Zimbabwe      40318      37056    1637
98815 2021-06-16  Zimbabwe      40556      37075    1640

In [3]:
df['Total Cases'] = df[['Confirmed','Recovered','Deaths']].sum(axis=1)
df.head()

        Date      Country  Confirmed  Recovered  Deaths  Total Cases
0 2020-01-22  Afghanistan          0          0       0            0
1 2020-01-23  Afghanistan          0          0       0            0
2 2020-01-24  Afghanistan          0          0       0            0
3 2020-01-25  Afghanistan          0          0       0            0
4 2020-01-26  Afghanistan          0          0       0            0